button{
  background-color: white;
  animation-name: rainbow;
  animation-duration: 10s;
  animation-play-state:running;
  animation-iteration-count: 1000;
   border:double black 5px;
   
}

.thanos{
    height:120px;
}
.begone{
 height:110px;   
}
.itsjustaprankbro{
 height:140px;   
}
.tough{
    height:150px;   
}
body{
    background-color:black;
    display:flex;
    
    
}
@keyframes rainbow {
    0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}